[package]
name = "rustcrypto_nif"
version = "0.1.0"
authors = []
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
aes = "0.8.4"
ctr = "0.9.2"
hmac = "0.12.1"
rustler = "0.37.2"
sha1 = "0.10.6"
